

body {
  margin: 0px;
  background-color: DarkTurquoise;
}

li {
  font-family: "Asap";
}


.nav_bar > li {
  user-select: none;
  float: left;
  display: block;
  margin: 10px;
  padding: 20px;
  margin-right: 10px;
  list-style-type: none;
  background-color: SteelBlue;
  color: white;
  border-radius: 10px;
}

.nav_bar > li:hover {
  background-color: MidnightBlue;
}

.nav_bar > li:active {
  background-color: Indigo;
}

.nav_bar {
  position: fixed;
  up: 0px;
  right: 0px;
  left: 0px;
  padding : 0px;
  margin: 0px;
  background-color: Teal;
  border-radius: 5px;
  overflow: hidden;
}

li:last-child {
  display: inline;
  float: right;
}

.intro {
  margin: 20px;
}

.intro > img {
  margin: 20px;
  margin-right: 40px;
  float: left;
  border-radius: 10px;
  border: 2px dashed green;
  width: 150px;
  height: 200px;
}

.footer {
  margin-left: 0px;
  margin-bottom: 0px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow: hidden;
  background-color: LightBlue;
}

.footer > li {
  color: black;
  display: block;
  user-select: none;
  float: left;
  padding: 10px;
  border: 1px dashed black;
  border-collapse: collapse;
  border-radius: 5px;
  margin-left: 0px;
  margin-right: 10px;
}

p {
  font-family: "Oswald" , Verdana;
}

h1 {
  font-family: "Sofia";
}

a {
  font-family: "Asap";
}

.text {
  font-size: 20px;
  float:left;
  display: block;
  margin: 150px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 0;
}

.text2 {
  font-size: 20px;
  float:left;
  display: block;
  margin-top: 218px;
  margin-bottom: 0;
}

.text3 {
  font-size: 20px;
  float:left;
  display: block;
  margin: 150px;
  margin-left: 150px;
  margin-right: 100px;
  margin-bottom: 0;
}

.text4 {
  font-size: 20px;
  float:left;
  display: block;
  margin-top: 214px;
  margin-left: 25px;
margin-bottom: 0;
}

.titr {
  float:left;
  display: block;
  margin-top: 130px;
  margin-left: 25px;
  border-bottom: 2px solid black;
}

.titr2 {
  float:right;
  display: block;
  margin-right: 1250px;
  margin-left: 25px;
  border-bottom: 2px solid black;
}

.text5 {
  font-size: 20px;
  float:left;
  display: block;
  margin-left: 375px;
}
